/* Colour Scheme declaraion. Darker tone */
#header, li.item:hover, .breadcrumbBarAnchor:hover, .yuimenuitemlabel:hover, .mouseIsOverMenuSelector, .children:hover, #right-top-nav .smallfont:hover, div .tabBar .tab a {
	background-color: #205081 !important;
	color: white !important;
}

/* Colour Scheme declaraion. Lighter tone */
#breadcrumbBar, .first-of-type, .yuimenuitem, .yuimenuitemlabel, .yuimenuitemlabel-disabled:hover, .top-sticker-inner, .pane-header, .build-pipeline, .progress-bar-done, #projectstatus th, .sortheader, .sortable th, div .tabBar .active a {
	background-color: #4D739A !important;
	color: white !important;
}

/* Hidden borders */
#side-panel .pane-frame:hover, .mouseover, #breadcrumbs, .bigtable tr, table.pane {
	border: none !important;
}

/* Hidden Items */
footer, #menuSelector, #build-pipeline-plugin-content #icon-bar, .revision-cell, #pipelines tr:last-of-type, div[id^="title-dashboard"] {
	display: none !important;
}

#search-box, #filter-box {
	background-image: url(img/zoom.png) !important;
	background-size: 16px !important;
}

a, .dashboard a {
	text-decoration: none;
}

a:visited {
	color: #4D739A;
}

#breadcrumbBar {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
	height: 27px !important;
}

.top-sticker-inner a, .pane-header, .pane-header a {
	color: white !important;
	text-decoration: none;
}

#right-top-nav .smallfont {
	padding-left: 7px;
	padding-right: 6px;
}

#side-panel {
	height: 100% !important;
	min-height: 100vh !important;
	min-width: 360px !important;
	bottom: 0px !important;
	padding: 0 !important;
	background-color: #DDD;
	-webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.32);
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.32);
}

#tasks, .model-link {
	padding-left: 15px;
}

.build-row {
	height: 30px !important;
}

.pane-frame {
	width: 100%;
	border: 0px;
}

.pane-header {
	border-radius: 0;
}

.progress-bar {
	border-color: #4D739A !important;
}

#main-panel {
	height: 100vh !important;
}

#description {
	font-style: italic;
	font-weight:bold;
}

.tabBar .tab {
	padding-bottom: 1px;
}

.tabBar .active {
	padding-bottom: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

.bigtable td { border-bottom: 1px solid #4D739A !important; }
.bigtable td:first-of-type { border-left: 1px solid #4D739A !important; }
.bigtable td:last-of-type { border-right: 1px solid #4D739A !important; }

.console-output, #spinner {
	background-color: black;
	color: white;
	padding: 10px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
}

.console-output a, .yuimenuitemlabel-disabled, .yuimenuitemlabel-disabled:hover {
	color: #DDD !important;
}

#buildHistoryPage .row .pane-footer, #buildHistoryPage .row .pane .build-row {
	border: 0;
	background-color: #DDD;
}

#build-pipeline-plugin-content {
	padding: 0px !important;
}

.warning { 
	background-image: url(img/risk.png);
	background-size: 24px;
	padding-left: 30px;
}

form p.info {
	background-image: url(img/arrow-_right.png);
	background-size: 20px;
	padding-left: 30px;

}

table #pipelines {
	padding-right: 40px !important;
}

div[id*="portlet"] {
	background-color: #4D739A !important;
	border-color: #4D739A !important;
	color: white !important;
}

table[id*="portlet"] {
	border-color: #4D739A !important;
}

table[id*="portlet"] td {
	padding: 0px;
}

.build-pipeline {
	padding: 10px !important;
}

/* Replacement Icons*/
.children {
	content: url(img/arrow_right_white.png);
	padding-top: 6px;
	padding-bottom: 4px;
}

.icon-clock, a[href*="scriptler"] img, img[src*="terminal.gif"] { content: url(img/play.png); }

.icon-new-package { content: url(img/add.png); }

.icon-terminal, img[src*="notepad.gif"] { content: url(img/terminal.png); }

.icon-document-properties { content: url(img/white_list.png); }

.icon-user, img[src*="user.png"] { content: url(img/group.png); }
 
.icon-notepad { content: url(img/history.png); }

.icon-gear { content: url(img/gear.png); }

.icon-graph { content: url(img/stock.png); }

.icon-edit-delete, img[src*="edit-delete.gif"] { content: url(img/close.png); }

.icon-search { content: url(img/zoom.png); }

.icon-up, .icon-previous { content: url(img/arrow-_left.png); }

.icon-folder { content: url(img/folder.png); }

.icon-clipboard { content: url(img/clipboard.png); }

.icon-setting { content: url(img/technical_wrench.png); }

.icon-hourglass { content: url(img/clock.png); }

.icon-stop { content: url(img/cross.png) }

.icon-secure { content: url(img/lock_closed.png) }

.icon-refresh { content: url(img/repeat.png) }

.icon-monitor { content: url(img/network_monitor.png) }

.icon-plugin { content: url(img/solution.png) }

.icon-computer { content: url(img/monitor.png) }

.icon-save { content: url(img/diskette.png); }

.icon-document { content: url(img/document.png); }

.icon-network { content: url(img/monitors.png); }

.icon-system-log-out { content: url(img/standby.png); }

/*.icon-previous { content: url(img/rewind.png); }

.icon-next { content: url(img/fast_forward.png); }*/

/* Some icons do not have direct references
   we need to access these by other means */
#description-link img {
	content: url(img/pencil.png);
	width: 24px !important;
	height: 24px !important;
}

a[href*="configOutput?type=xml"] img {
	content: url(img/file_format_xml.png);
	width: 24px !important;
	height: 24px !important;
}

a[href*="administrativeMonitor/OldData"] img {
	content: url(img/block_list.png);
}

a[href*="dynamicparameter"] img {
	content: url(img/menu.png);
}

a[href*="scriptApproval"] img {
	content: url(img/instant_message.png);
}

a#showDiff img {
	content: url(img/technical_wrench.png);
}

img[src*="help.png"] {
	content: url(img/help.png);
}

img[src*="template-debugger.png"] {
	content: url(img/envelope_open.png);
}

img[src*="document_edit.gif"] {
	content: url(img/pencil.png);
}

img[src*="next.png"] {
	content: url(img/arrow-_right.png);
	width: 24px;
	height: 24px;
}

img[src*="directory.png"] {
	content: url(img/active_rooms.png);
}

img[src*="mail-mark-read.png"] {
	content: url(img/message_to_all.png);
}

img[src*="p4.png"] {
	content: url(img/osi_model.png);
}

img[src*="atom.gif"] {
	content: url(img/rss.png);
}

img[src*="domain.png"] {
	content: url(img/company.png);
}

/* Icons of manual size changes */
img[src*="32x32/terminal.png"] {
	content: url(img/terminal.png);
	width: 32px !important;
	height: 32px !important;
}
img[src*="24x24/terminal.png"] {
	content: url(img/terminal.png);
	width: 24px !important;
	height: 24px !important;
}
img[src*="16x16/terminal.png"] {
	content: url(img/terminal.png);
	width: 16px !important;
	height: 16px !important;
}
img[src*="32x32/new-credential.png"] {
	content: url(img/key.png);
	width: 32px !important;
	height: 32px !important;
}
img[src*="24x24/new-credential.png"] {
	content: url(img/key.png);
	width: 24px !important;
	height: 24px !important;
}
img[src*="16x16/new-credential.png"] {
	content: url(img/key.png);
	width: 16px !important;
	height: 16px !important;
}

img[src*="32x32/folder.gif"] {
	content: url(img/folder.png);
	width: 32px !important;
	height: 32px !important;
}
img[src*="24x24/folder.gif"] {
	content: url(img/folder.png);
	width: 24px !important;
	height: 24px !important;
}
img[src*="16x16/folder.gif"] {
	content: url(img/folder.png);
	width: 16px !important;
	height: 16px !important;
}

.task a[href*="scan-on-demand"] img, 
.task a[href*="failure-cause-management"] img,
img[src*="information.png"] {
	content: url(img/lightbulb.png);
}

.task a[href*="credential-store"] img,
img[src*="credentials.png"],
img[src*="credential.png"]{
	content: url(img/key.png);
}

.task a[href*="scmPollLog"] img, .icon-orange-square,
.task a[href*="git"] img  {
	content: url(img/shared_folder.png);
}

.task a[href*="jobConfigHistory"] img {
	content: url(img/backup.png);
}

.task a[href*="newView"] img {
	content: url(img/folder_add.png);
}

.task .task-icon-link img[src*="previous.png"] {
	content: url(img/rewind.png);
}

.task .task-icon-link img[src*="next.png"] {
	content: url(img/fast_forward.png);
}

/* Weather Icon Reaplacement */
.icon-health-00to19 {
	content: url(img/weather/lightning.png);
}
.icon-health-20to39 {
	content: url(img/weather/rain.png);
}
.icon-health-40to59 {
	content: url(img/weather/cloud.png);
}
.icon-health-60to79 {
	content: url(img/weather/clowdy.png);
}
.icon-health-80plus {
	content: url(img/weather/sun.png);
}

/* Job status icons */
.icon-blue {
	content: url(img/smiley_status/smiley.png);
}
.icon-red {
	content: url(img/smiley_status/smiley_sad.png);
}
.icon-yellow {
	content: url(img/smiley_status/smiley_confused.png);
}
.icon-grey, .icon-disabled, .icon-aborted, .icon-nobuilt {
	content: url(img/smiley_status/smiley_waiting.png);
}
/* Job status icons hover */
.icon-blue:hover {
	content: url(img/smiley_status/smiley_coloured.png);
}
.icon-red:hover {
	content: url(img/smiley_status/smiley_sad_coloured.png);
}
.icon-yellow:hover {
	content: url(img/smiley_status/smiley_confused_coloured.png);
}
.icon-grey:hover, .icon-disabled:hover, .icon-aborted:hover, .icon-nobuilt:hover {
	content: url(img/smiley_status/smiley_waiting_coloured.png);
}

/* Animation replacements */
.icon-grey-anime, .icon-blue-anime, .icon-yellow-anime, .icon-red-anime {
	content: url(img/animated/preloader_transparent.gif);
	margin-right: 10px;
}

.icon-clock-anime {
	content: url(img/play.png);

    -webkit-animation-name: icon-clock-anime;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: icon-clock-anime;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: icon-clock-anime;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes icon-clock-anime {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes icon-clock-anime {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes icon-clock-anime {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#spinner img {
	content: url(img/animated/Preloader_2.gif);
}